body {
    background-image: url("../img/squared_metal.png");
    background-repeat: repeat;
}

#img-logo {
    height:45px;
    width:45px;
}

.row-first-padded {
    margin-top:5%;
}

.row-padded {
    margin-top:1%;
}